.numRodada {
    color: black;
    font-size: 20px;
 }

 .rodada {
    border: 1px solid;
    border-radius: 7px;
    margin: 30px;
    border-color: #ccd0d4;
 }

 body {
    font-family: "Montserrat", sans-serif;
 }

 table {
    padding: 20px;
    align-items: center;
    text-align: center;
    border: solid 1px #ccd0d4;
    border-radius: 2px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
 }

 td {
    margin: 10px;
    padding: 10px;
 }

 tbody {
    margin-left: 10px;
 }


 .titulo {
    text-align: left !important;
    font-size: 20px;
    color: white;
    background: #167bea;
    border: 2px solid;
    padding: 5px;
    margin: 0px;
    border-radius: 10px 10px 0px 1px;
    width: 100%;
 }

 .classificacao {
    text-align: left !important;
    font-size: 20px;
    color: white;
    background: #4cc065;
    border: 2px solid;
    padding: 5px;
    margin: 0px;
    border-radius: 10px 10px 0px 1px;
    width: 100%;
 }

 .btn {
    color: white;

 }